@import "compass/css3";

a.bbppu-hentry, ul.bbppu-hentry > li:first-child {
  padding-left: 5px;
  @include transition(border 500ms ease-out);
}

a.bbppu-hentry.bbppu-read, ul.bbppu-hentry.bbppu-read > li:first-child {
  border-left: 5px solid #EAEAEA;
}

a.bbppu-hentry.bbppu-unread, ul.bbppu-hentry.bbppu-unread > li:first-child {
  border-left: 5px solid #21759B;
}

.bbppu-mark-as-read {
  margin-bottom: 15px;
  text-align: right;
  a {
    .bbppu-loading{
        @include opacity(0);
    }
    &.loading {
        .bbppu-loading{
            @include opacity(1);
        }
    }
  }
}