/* line 3, ../scss/bbppu.scss */
a.bbppu-hentry, ul.bbppu-hentry > li:first-child {
  padding-left: 5px;
  -moz-transition: border 500ms ease-out;
  -o-transition: border 500ms ease-out;
  -webkit-transition: border 500ms ease-out;
  transition: border 500ms ease-out;
}

/* line 8, ../scss/bbppu.scss */
a.bbppu-hentry.bbppu-read, ul.bbppu-hentry.bbppu-read > li:first-child {
  border-left: 5px solid #EAEAEA;
}

/* line 12, ../scss/bbppu.scss */
a.bbppu-hentry.bbppu-unread, ul.bbppu-hentry.bbppu-unread > li:first-child {
  border-left: 5px solid #21759B;
}

/* line 16, ../scss/bbppu.scss */
.bbppu-mark-as-read {
  margin-bottom: 15px;
  text-align: right;
}
/* line 20, ../scss/bbppu.scss */
.bbppu-mark-as-read a .bbppu-loading {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 24, ../scss/bbppu.scss */
.bbppu-mark-as-read a.loading .bbppu-loading {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
